ct_run*
index.html
jquery-latest.js
jquery.tablesorter.min.js
logs/*
all_runs.html
ct_default.css
deps*
ebin/*
*.beam
*.o
variables-*
*/temp/*
.DS_Store
dump_excludes
dump_to_pi
sync_excludes
sync_to_pi
