language: erlang

otp_release:
    - 17.4

before_install:
    - wget https://s3.amazonaws.com/rebar3/rebar3
    - chmod +x rebar3

script:
    - ./rebar3 compile
    - ./rebar3 dialyzer
    - make -C examples
