{erl_opts, [debug_info]}.
{deps, []}.
{pre_hooks, [{"linux", compile, "make -C c_src"}]}.
{post_hooks, [{"linux", clean, "make -C c_src clean"}]}.

%% Rebar 2.0 support
{port_specs, [
	      {"linux", "priv/erlang-ale", ["c_src/ale_main.c",
                                     "c_src/erlcmd.c",
                                     "c_src/gpio_port.c",
                                     "c_src/i2c_port.c",
                                     "c_src/spi_port.c"]}
	     ]}.
{port_env, [{"linux", "LDFLAGS", "$LDFLAGS -lpthread"}]}.
