%% -*- erlang -*-
{deps, [{gproc, ".*", {git, "git://github.com/uwiger/gproc",
                       {tag, "0.2.13.3"}}},
        {meck, ".*", {git, "git://github.com/eproxus/meck",
                      {tag, "0.7.2"}}},
        {pihwm, "", {git, "git://github.com/omerk/pihwm",
                     {branch, "master"}},
         [raw]},  
        {'erlang-portutil', "", {git, "git://github.com/omerk/erlang-portutil",
                                 {branch, "master"}},
         [raw]}
       ]}.

%% Plugin created to ensure that we run configure on pihwm before we
%% try to compile it.
%% TODO: look at alien-plugin for a possibly better solution:
%% https://github.com/hyperthunk/rebar_alien_plugin
{plugin_dir, "plugins/compile-deps/src"}.
{plugins, [rebar_compiledeps_plugin]}.

%% darwin specifics to allow compiling on a Mac - it will not run on
%% the Mac!
{port_env, [{"darwin", "CC", "/usr/local/gcc-4.8.0-for-linux32/bin/i586-pc-linux-gcc"},
            {"darwin", "CFLAGS", "-Wall -I/usr/local/gcc-4.8.0-for-linux32/include -Ideps/pihwm/lib -Ideps/erlang-portutil"},
            {"darwin", "LDFLAGS", ""},
            {"linux", "CFLAGS", "-Wall -I$deps/pihwm/lib -Ideps/erlang-portutil"}
           ]}.
 
